<style>
/* table style */

.list_table{
	border-collapse: collapse; 
	border: 1px solid #dedbde;
	text-align:left;
}

.list_table td{
	padding:3px;
	border: 1px solid #dedbde;
}

.listrow:hover{
	background:#efefef;
}

.border{
	border: 1px solid #dedbde;
}


/* submit button */

.button{
	border: 1px solid;
	background:white;
}


/* search */
.stitle a{color:#0000ff; font-size:110%; text-decoration:underline; font-weight:bold;
}
.sinfo{color:#008000; font-weight:normal;}
.sinfo a{color:#008000; text-decoration:underline; font-weight:normal;
}


/* header title */

.title{
	width:80%;
	text-align:left;
	font-size:15px;
	text-transform:uppercase;
	border-bottom:1px solid #dddddd;
	margin-top:40px;
	color:#333333;
}

.title_desc{
	width:80%;
	margin-bottom:30px;
	text-align:right;
	font-size:12px;
}


/* header title for detail.php */

.label_header{
	color: #db4d4d;
	font-size:15px;
	font-weight: bold;
	border-bottom:1px solid #dddddd;
}

.h{
	width:100%;
	font-size:15px;
	text-align:left;
	border-bottom:1px solid #dddddd;
	margin-top:40px;
	color: #db4d4d;
	font-weight: bold;
}

.h_under{
	width:100%;
	margin-bottom:30px;
	text-align:right;
	font-size:12px;
}
</style>
